<div id="title-bar" class="title-bar-wrap ">
    <div id="title-wrap">
        <div class="title-wrap-inn">
            <div id="main-title">
                <h1 class="main-title">
                    ATTENDEE NOTES<br/>
                    <small>Toronto Spring Conference</small>
                </h1>
            </div>
        </div>
    </div><!--End #title-wrap-->
</div><!--End #title-bar-->
<div class="archive-wrap">
    <section class="archive-unit">
        <h3>ATTENDEE NOTES</h3>

    </section>

    <div class="container">
        <div class="row-fluid">
            <div class="span9 moudle">
                <div id="accordion1"
                     class="accordion ux-mod-nobg accordion-ux">

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a href="#collapse_1"
                               data-parent="#accordion1"
                               data-toggle="collapse" class="accordion-toggle">Checking In</a>
                        </div>
                        <div class="accordion-body collapse "
                             id="collapse_1">
                            <div class="accordion-inner">
                                <p>Proceed to the 11th Floor. The front desk will buzz in. You
                                    can register and pay (if not already paid) on entry</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a href="#collapse_2"
                               data-parent="#accordion1"
                               data-toggle="collapse" class="accordion-toggle">Recording Of
                                Sessions</a>
                        </div>
                        <div class="accordion-body collapse "
                             id="collapse_2">
                            <div class="accordion-inner">
                                <p>All sessions will be recorded and made available on a You
                                    Tube channel after the conference</p>
                            </div>
                        </div>
                    </div>
                    <!-- end FAQ -->

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a href="#collapse_3"
                               data-parent="#accordion1"
                               data-toggle="collapse" class="accordion-toggle ">Payment</a>
                        </div>
                        <div class="accordion-body collapse"
                             id="collapse_3">
                            <div class="accordion-inner">
                                <p>You can pay via Pay Pal prior to the conference or at the
                                    door with Square.</p>
                                <p>If you have made arrangements with the organizer, he will be
                                    at the payment table and can discuss it with you.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end FAQ -->

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a href="#collapse_4"
                               data-parent="#accordion1"
                               data-toggle="collapse" class="accordion-toggle">Food and
                                Drinks</a>
                        </div>
                        <div class="accordion-body collapse"
                             id="collapse_4">
                            <div class="accordion-inner">
                                <p>Our sponsors will provide Breakfast, Lunch and a Snack at the
                                    end of the day</p>
                                <p>Coffee and snacks will be available through out the day in
                                    the kitch on the main floor</p>
                            </div>
                        </div>
                    </div>
                    <!-- end FAQ -->

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a href="#collapse_5"
                               data-parent="#accordion1"
                               data-toggle="collapse" class="accordion-toggle ">Phone calls and
                                Device Charging</a>
                        </div>
                        <div class="accordion-body collapse "
                             id="collapse_5">
                            <div class="accordion-inner">
                                <p>There will be a charge area on the 11th floor and an area on
                                    the 10th to socialize through out the day</p>
                            </div>
                        </div>
                    </div>
                    <!-- end FAQ -->

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a href="#collapse_6"
                               data-parent="#accordion1"
                               data-toggle="collapse" class="accordion-toggle ">Questions And
                                Concerns</a>
                        </div>
                        <div class="accordion-body collapse "
                             id="collapse_6">
                            <div class="accordion-inner">
                                <p>Please go to the front desk on the 11th with concerns or
                                    questions</p>
                                <p>Also look for the conference staff, they will be wearing
                                    white Spring t-shirts</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a href="#collapse_7"
                               data-parent="#accordion1"
                               data-toggle="collapse" class="accordion-toggle ">Washrooms</a>
                        </div>
                        <div class="accordion-body collapse "
                             id="collapse_7">
                            <div class="accordion-inner">
                                <p>Washrooms are located on the both floors of the
                                    conference</p>

                            </div>
                        </div>
                    </div>
                    <!-- end FAQ -->

                </div>
            </div>
        </div>
    </div>
    <section class="archive-unit">&nbsp;</section><!-- SPACER, DON'T DELETE -->
</div>
