<div id="title-bar" class="title-bar-wrap ">
    <div id="title-wrap">
        <div class="title-wrap-inn">
            <div id="main-title">
                <h1 class="main-title">
                    LOCATION<br/>
                    <small>Toronto Spring Conference</small>
                </h1>
            </div>
        </div>
    </div><!--End #title-wrap-->
</div><!--End #title-bar-->
<div class="archive-wrap">
    <section class="archive-unit">
        <h3>PIVOTAL LABS TORONTO</h3>
        <p>1 Toronto St, 11th Floor, Toronto, ON, M5C2V6</p><br/><br/>
    </section>
    <div class="container">
        <div class="row-fluid">
            <div class="span12 moudle">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.9134385685534!2d-79.37783468420643!3d43.64996926065695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4cb323c4430a5%3A0x1734827663017a61!2s1+Toronto+St%2C+Toronto%2C+ON+M5C!5e0!3m2!1sen!2sca!4v1475011726354"
                        width="800" height="600" frameborder="0" style="border:0"
                        allowfullscreen></iframe>

                <textarea class="form-control hidden module-map-style-code"
                          rows="3"></textarea>
            </div>
        </div>
    </div>

    <section class="archive-unit">&nbsp;</section><!-- SPACER, DON'T DELETE -->
</div>
