<div id="title-bar" class="title-bar-wrap ">
    <div id="title-wrap">
        <div class="title-wrap-inn">
            <div id="main-title">
                <h1 class="main-title" style="font-weight:700">
                    Toronto Spring Conference<br/>
                    <small>September 29, 2016</small>
                </h1>
            </div>
        </div>
    </div><!--End #title-wrap-->
</div><!--End #title-bar-->
<div class="archive-wrap">
    <section class="archive-unit">
        <p><span style="font-weight:500">
                                         On September 29th, 2016, from 8:00am to 6:00pm,  Pivotal will be hosting a Toronto Spring Conference in downtown Toronto.</span>
            <br/><br/>
            This is a full day event, starting at 8am and finishing at 6pm, with over 10
            sessions from Spring committers and thought leaders.
            <br/><br/>
            Hear from Juergen Hoeller (Co Founder and project lead of the Spring Framework),
            Dr David Syer (Founder of Spring Boot, Spring Cloud and committer on countless
            Spring projects) Rossen Stoyanchev (Spring MVC committer with a focus on
            "reactive"), Spencer Gibb (Spring Cloud Committer), Marius Bogoevici (Spring
            Cloud Stream lead and Spring Cloud Data Flow committer), Kris De Volder (Spring
            Tool Suite committer) and more.
        </p>
    </section>
    <section class="archive-unit">
        <h3>AGENDA</h3>
        <p>May change leading up to or on the event day itself</p><br/><br/>
    </section>
    <div class="container">
        <div class="row-fluid">
            <div class="span12 moudle bottom-space-20 ">
                <h5><span class="style1">8:00-10:30am</span> Breakfast and Opening Keynote
                </h5><br/><br/>
                <table id="breakfastSession" class="table table-striped table-bordered"
                       cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>Room</th>
                        <th>Session Name</th>
                        <th>Speakers</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>8:00 - 9:15</td>
                        <td>Event Space</td>
                        <td>Breakfast (Provided By Sourced)</td>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <td>9:15 - 9:30</td>
                        <td>Event Space</td>
                        <td>Announcements and Introductions</td>
                        <td>Pivotal Staff and Event Organizers</td>
                    </tr>
                    <tr>
                        <td>9:30 - 10:35</td>
                        <td>Event Space</td>
                        <td>A Spring 5 Overview</td>
                        <td>Juergen Hoeller</td>
                    </tr>

                    <tfoot>
                    <tr>
                        <th>Time</th>
                        <th>Room</th>
                        <th>Session Name</th>
                        <th>Speakers</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <hr/>
    <div class="container">
        <div class="row-fluid">
            <div class="span12 moudle bottom-space-20 ">
                <h5><span class="style1">10:35-12:25am</span> Morning Breakout Sessions</h5>
                <br/><br/>
                <table id="morningSessions" class="table table-striped table-bordered"
                       cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>Room</th>
                        <th>Session Name</th>
                        <th>Speakers</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>10:35-11:25</td>
                        <td>Event Space</td>
                        <td>Spring MVC 4.x and Spring 5.0 Web Reactive Part 1</td>
                        <td>Rossen Stoyanchev</td>
                    </tr>
                    <tr>
                        <td>10:35-11:25</td>
                        <td>Union Exhibition</td>
                        <td>TBA</td>
                        <td>TBA</td>
                    </tr>
                    <tr>
                        <td>10:35-11:25</td>
                        <td>Yonge and Bloor</td>
                        <td>Cloud And Platform Track: AWS Fundamentals and The Benefits of
                            Opinionated Systems
                        </td>
                        <td>Chris Sandico and Zach Koncir of Sourced Group</td>
                    </tr>

                    <tr>
                        <td>11:35-12:20</td>
                        <td>Event Space</td>
                        <td>Spring MVC 4.x and Spring 5.0 Web Reactive Part 2</td>
                        <td>Rossen Stoyanchev</td>
                    </tr>
                    <tr>
                        <td>11:35-12:20</td>
                        <td>Union Exhibition</td>
                        <td>Cloud Native Java with Spring Cloud Services</td>
                        <td>Will Tran</td>
                    </tr>
                    <tr>
                        <td>11:35-12:20</td>
                        <td>Yonge and Bloor</td>
                        <td>Kicking the tires on a modern enterprise CI & CD system -
                            Concourse
                        </td>
                        <td>Sameer Vohra</td>
                    </tr>
                    <tfoot>
                    <tr>
                        <th>Time</th>
                        <th>Room</th>
                        <th>Session Name</th>
                        <th>Speakers</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <hr/>
    <div class="container">
        <div class="row-fluid">
            <div class="span12 moudle bottom-space-20 ">
                <h5><span class="style1">12:30-1:30pm</span> Lunch and Demo</h5><br/>
                <p>Sponsored by <a href="http://www.intelliware.com/#all">Intelliware</a>
                </p><br/>
                <table id="breakfastSession" class="table table-striped table-bordered"
                       cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>Room</th>
                        <th>Session Name</th>
                        <th>Speakers</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>12:30-1:30pm</td>
                        <td>Event Space</td>
                        <td>STS Demo Lunch Demo</td>
                        <td>Kris De Volder</td>
                    </tr>

                    <tfoot>
                    <tr>
                        <th>Time</th>
                        <th>Room</th>
                        <th>Session Name</th>
                        <th>Speakers</th>
                    </tr>
                    </tfoot>
                </table>


            </div>
        </div>
    </div>
    <hr/>
    <div class="container">
        <div class="row-fluid">
            <div class="span12 moudle bottom-space-20 ">
                <h5><span class="style1">1:30-2:30pm</span> Afternoon Breakout Sessions</h5>
                <br/><br/>
                <table id="morningSessions" class="table table-striped table-bordered"
                       cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>Room</th>
                        <th>Session Name</th>
                        <th>Speakers</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>1:40-2:25</td>
                        <td>Event Space</td>
                        <td>Modern Java Component Design with Spring Framework 4.3</td>
                        <td>Juergen Hoeller</td>
                    </tr>
                    <tr>
                        <td>1:40-2:25</td>
                        <td>Union Exhibition</td>
                        <td>Architecture Deep Dive in Spring Security</td>
                        <td>Joe Grandja</td>
                    </tr>
                    <tr>
                        <td>1:40-2:25</td>
                        <td>Yonge and Bloor</td>
                        <td>Data and Integration Track: Moving from an ESB to Microservices
                            Integration: capabilities , challenges, and solutions
                        </td>
                        <td>Stu Charlton</td>
                    </tr>

                    <tr>
                        <td>2:35-3:25</td>
                        <td>Event Space</td>
                        <td>Comparing Configuration and Discovery Systems</td>
                        <td>Spencer Gibb</td>
                    </tr>
                    <tr>
                        <td>2:35-3:25</td>
                        <td>Union Exhibition</td>
                        <td>Shift Performance Left: Performance Metrics Driven CI/CD</td>
                        <td>Michael Villiger</td>
                    </tr>
                    <tr>
                        <td>2:35-3:25</td>
                        <td>Yonge and Bloor</td>
                        <td>Lessons Learned from Migrating Legacy Enterprise Applications to
                            Microservices
                        </td>
                        <td>Ross Zhang and Jun Li</td>
                    </tr>
                    <tfoot>
                    <tr>
                        <th>Time</th>
                        <th>Room</th>
                        <th>Session Name</th>
                        <th>Speakers</th>
                    </tr>
                    </tfoot>
                </table>
                <p style="font-weight:500"></p>
            </div>
        </div>
    </div>
    <hr/>

    <div class="container">
        <div class="row-fluid">
            <div class="span12 moudle bottom-space-20 ">
                <h5><span class="style1">3:30 - 3:40pm</span> BREAK - Coffee and Snacks in
                    the Event Space</h5><br/>

            </div>
        </div>
    </div>


    <hr/>
    <div class="container">
        <div class="row-fluid">
            <div class="span12 moudle bottom-space-20 ">
                <h5><span class="style1">3:40-4:40pm</span> Late Afternoon Breakout Sessions
                </h5><br/><br/>
                <table id="eveningSessions" class="table table-striped table-bordered"
                       cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>Room</th>
                        <th>Session Name</th>
                        <th>Speakers</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>3:45-4:40pm</td>
                        <td>Event Space</td>
                        <td>Its A Spring Boot Surprise!</td>
                        <td>Dr. Dave Syer</td>
                    </tr>
                    <tr>
                        <td>3:45-4:40pm</td>
                        <td>Union Exhibition</td>
                        <td>Office Hours - just come chat</td>
                        <td>Random Presenters, Staff and Pivotal Engineerings</td>
                    </tr>
                    <tr>
                        <td>3:45-4:40pm</td>
                        <td>Yonge and Bloor</td>
                        <td>Microservices Security with Spring</td>
                        <td>Adib Sakali</td>
                    </tr>
                    <tfoot>
                    <tr>
                        <th>Time</th>
                        <th>Room</th>
                        <th>Session Name</th>
                        <th>Speakers</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <hr/>
    <div class="container">
        <div class="row-fluid">
            <div class="span3 moudle bottom-space-20 ">
                <h5><span class="style1">5:00-6:00pm</span> Closing Session</h5><br/><br/>
            </div>
            <table id="breakfastSession" class="table table-striped table-bordered"
                   cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Time</th>
                    <th>Room</th>
                    <th>Session Name</th>
                    <th>Speakers</th>
                </tr>
                </thead>
                <tr>
                    <td>5:00-6:00pm</td>
                    <td>Event Space</td>
                    <td>Spring Cloud Data Flow Fundamentals and Demo</td>
                    <td>Marius Bogoevici</td>
                </tr>

                <tfoot>
                <tr>
                    <th>Time</th>
                    <th>Room</th>
                    <th>Session Name</th>
                    <th>Speakers</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <section class="archive-unit">&nbsp;</section><!-- SPACER, DON'T DELETE -->
</div>